<div class="card text-center col-sm-6 col-lg-6 col-12 mx-auto">
    <div class="card-body">
    <form>
        <h2 class="fw-bold mb-2 text-uppercase">Create Account</h2>

        <div class="form-floating mb-3">
            <input type="email" 
            [ngClass]="{'form-control form-control-lg' : true, 
                'is-invalid': authService.errorList && authService.errorList.Email}"
            placeholder="Email" id="email" type="email" [formControl]="email"/>
            <label for="email">Email</label>
            <div *ngIf="authService.errorList && authService.errorList.Email" class="invalid-feedback">
                {{authService.errorList.Email}}
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="password" 
            class="form-control form-control-lg" 
            [ngClass]="{'form-control form-control-lg' : true, 
                'is-invalid': authService.errorList && authService.errorList.Password}"
            placeholder="Password" id="password" type="password" [formControl]="password"/>
            <label class="form-label" for="password">Password</label>
            <div *ngIf="authService.errorList && authService.errorList.Password" class="invalid-feedback">
                {{authService.errorList.Password}}
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="text" 
            [ngClass]="{'form-control form-control-lg' : true, 
                'is-invalid': authService.errorList && authService.errorList.FirstName}" 
            placeholder="First Name" id="firstName" [formControl]="firstName"/>
            <label class="form-label" for="firstName">First Name</label>
            <div *ngIf="authService.errorList && authService.errorList.FirstName" class="invalid-feedback">
                {{authService.errorList.FirstName}}
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" 
            [ngClass]="{'form-control form-control-lg' : true, 
                'is-invalid': authService.errorList && authService.errorList.LastName}" 
            placeholder="Last Name" id="lastName"[formControl]="lastName"/>
            <label class="form-label" for="lastName">Last Name</label>
            <div *ngIf="authService.errorList && authService.errorList.LastName" class="invalid-feedback">
                {{authService.errorList.LastName}}
            </div>
        </div>
        <div class="form-floating mb-3">
            <textarea 
            [ngClass]="{'form-control form-control-lg' : true, 
                'is-invalid': authService.errorList && authService.errorList.Structure}"
            placeholder="Structure" id="structure" [formControl]="structure"></textarea>
            <label class="form-label" for="structure">Structure</label>
            <div *ngIf="authService.errorList && authService.errorList.Structure" class="invalid-feedback">
                {{authService.errorList.Structure}}
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="number" 
            [ngClass]="{'form-control form-control-lg' : true, 
                'is-invalid': authService.errorList && authService.errorList.BirthYear}" 
            placeholder="Birth Year" id="birthYear" [formControl]="birthYear"/>
            <label class="form-label" for="password">Birth Year</label>
            <div *ngIf="authService.errorList && authService.errorList.BirthYear" class="invalid-feedback">
                {{authService.errorList.BirthYear}}
            </div>
        </div>
        <div class="form-floating mb-3">
              <select 
              [ngClass]="{'form-control form-control-lg form-select' : true, 
                'is-invalid': authService.errorList && authService.errorList.Sex}" 
              id="floatingSelect" aria-label="Floating label select example" [formControl]="sex">
                <option value="true">Male</option>
                <option value="false">Female</option>
              </select>
            <label class="form-label text-left" for="flexRadioDefault">Sex </label>
            <div *ngIf="authService.errorList && authService.errorList.Sex" class="invalid-feedback">
                {{authService.errorList.Sex}}
            </div>
        </div>
        <button class="btn btn-outline-dark btn-lg px-5" type="button" (click)="createUser()">Create</button> 
    </form>
    </div>
    <div class="card-footer text-body-secondary">
        <p class="mb-0">Already have an account? <a routerLink="/login" class="text-dark-50 fw-bold">Login</a>
        </p>
    </div>
</div>