<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
    (click)="changeLanguage(selectedLanguage.code)">
        <span class="fi fi-{{selectedLanguage.countryCode}}"></span>
        {{selectedLanguage.name}}
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let language of languagesList; index as i"
      (click)="changeLanguage(language.code)">
        <button class="dropdown-item" type="button" active>
            <span class="fi fi-{{language.countryCode}}"></span>
            {{language.name}}
        </button>
      </li>
    </ul>
  </div>