<div class="card text-center col-sm-6 col-lg-6 col-12 mx-auto">
    <div class="card-body">
        <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
        <p class="text-dark-50 mb-4">Please enter your email for resetting your password</p>

        <div class="form-outline form-dark mb-4">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-control form-control-lg" placeholder="email" id="email" type="email" [formControl]="email"/>
        </div>
        <button class="btn btn-outline-dark btn-lg px-5" type="button" (click)="sendResetPasswordEmail()">Send Reset Password Email</button> 
    </div>
</div>