<div *ngIf="element && element.children" class="accordion-item list-group-item list-group-item-action list-item-container" id="{{element.title}}">
    <a class="accordion-button" 
    type="button" 
    [attr.data-bs-toggle]="'collapse'" 
    [attr.data-bs-target]="'#flush-' + getId(element.title)" 
    aria-expanded="false" 
    [attr.aria-controls]="'flush-' + getId(element.title)">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus"
    viewBox="0 0 16 16">
    <path
        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg>
        {{element.title}}
    </a>
    <div id="flush-{{getId(element.title)}}" class="accordion-collapse collapse" 
    [attr.data-bs-parent]="'#{{element.title}}'">
        <div class="accordion-body">
            <div *ngFor="let elementChild of element.children" >
                <app-poly-direct-link-element *ngIf="elementChild.type === 'direct-link'" [element]="elementChild"></app-poly-direct-link-element>
                <app-poly-in-subpage-url-element *ngIf="elementChild.type === 'in-subpage-url'" [element]="elementChild"></app-poly-in-subpage-url-element>
                <!-- <a href="{{elementChild.url}}" class="list-group-item list-group-item-action">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-link-45deg" viewBox="0 0 16 16">
                    <path
                        d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
                    <path
                        d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z" />
                    </svg>
                    {{elementChild.title}}
                </a> -->
            </div>
        </div>
    </div>
</div>