<div class="input-group py-2">
    <span class="input-group-text" id="basic-addon1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
        </svg>
    </span>
    <input type="text" class="form-control" placeholder="Caută" aria-label="Input group example" aria-describedby="basic-addon1"
    (input)="onSearchChange($event)">
  </div>

<div class="list-group">
    <div *ngFor="let element of polyElements | filterRestrictedElements">

        <app-poly-direct-link-element *ngIf="element.type==='direct-link' && !(element.restrictedToLimitedUser && isLimitedUser())" [element]="element"></app-poly-direct-link-element>
        <app-poly-with-children-element *ngIf="element.type==='with-children' && !(element.restrictedToLimitedUser && isLimitedUser())" [element]="element"></app-poly-with-children-element>
        <app-poly-in-subpage-url-element *ngIf="element.type==='in-subpage-url' && !(element.restrictedToLimitedUser && isLimitedUser())" [element]="element"></app-poly-in-subpage-url-element >
        <app-poly-country-element *ngIf="element.type==='country' && !(element.restrictedToLimitedUser && isLimitedUser())" [element]="element"></app-poly-country-element >
        <app-poly-no-type-element *ngIf="!element.type && !(element.restrictedToLimitedUser && isLimitedUser())" [element]="element"></app-poly-no-type-element>
    </div>
</div>