<div class="row row-cols-3 g-1">
<div class="col">
    <div class="card">
    <a href="https://drive.google.com/drive/folders/1WwLU9FQhThTu8UMljuj2Red4LLDbAc1z">
        <img src="assets/tiaf-pics/tiaf-autoturisme.jpg" class="card-img-top" alt="autoturisme">
        <div class="card-body">
        <p class="card-text low-padding">Autoturisme</p>
        </div>
    </a>
    </div>
</div>
<div class="col">
    <div class="card">
    <a href="https://drive.google.com/drive/u/2/folders/1t0aAio4GAkQnigNvAfwswHzEEAqCFUlQ">
        <img src="assets/tiaf-pics/tiaf-camioane.jpg" class="card-img-top" alt="camioane">
        <div class="card-body">
        <p class="card-text">Camioane</p>
        </div>
    </a>
    </div>
</div>
<div class="col">
    <div class="card">
    <a href="https://drive.google.com/drive/folders/1JPcYyGCT7vkjvv1nCJ9jAPdFlNemY1wt">
        <img src="assets/tiaf-pics/tiaf-autocare.jpg" class="card-img-top" alt="autocare">
        <div class="card-body">
        <p class="card-text">Autocare</p>
        </div>
    </a>
    </div>
</div>
<div class="col">
    <div class="card">
    <a href="https://drive.google.com/drive/folders/1_Ff6Vk1NTHJzBYcLO0vL8PQzode7HQRE">
        <img src="assets/tiaf-pics/tiaf-motociclete.jpg" class="card-img-top" alt="motociclete">
        <div class="card-body">
        <p class="card-text">Motociclete</p>
        </div>
    </a>
    </div>
</div>
<div class="col">
    <div class="card">
        <a href="https://drive.google.com/drive/folders/1eBRifSepn3WyWvy7qBQqXSvwqqTT_wj6">
            <img src="assets/tiaf-pics/tiaf-ambarcatiuni.jpg" class="card-img-top" alt="ambarcatiuni">
            <div class="card-body">
            <p class="card-text">Ambarcațiuni</p>
            </div>
        </a>
    </div>
    </div>
    <div class="col">
    <div class="card">
        <a href="https://drive.google.com/drive/folders/1vhYw9KsHSj23DTKa9RBtoJz_nvIB5Alm">
            <img src="assets/tiaf-pics/tiaf-remorci.jpg" class="card-img-top" alt="remorci">
            <div class="card-body">
            <p class="card-text">Remorci</p>
            </div>
        </a>
    </div>
    </div>
    <div class="col">
    <div class="card">
        <a href="https://drive.google.com/drive/folders/13GTiPMdRz4QNjkovuH-un6gz__Y1RnMp">
            <img src="assets/tiaf-pics/tiaf-remorci-usoare.jpg" class="card-img-top" alt="remorci-usoare">
            <div class="card-body">
            <p class="card-text">Remorci Ușoare</p>
            </div>
        </a>
    </div>
    </div>
    <div class="col">
    <div class="card">
        <a href="https://drive.google.com/drive/folders/1QD0U2oao99_H3b7-e_NbEX24VDjYy86n">
            <img src="assets/tiaf-pics/tiaf-rulote.jpg" class="card-img-top" alt="rulote">
            <div class="card-body">
            <p class="card-text">Rulote</p>
            </div>
        </a>
    </div>
    </div>
    <div class="col">
    <div class="card">
        <a href="https://drive.google.com/drive/folders/1nDfpdF93_cfjKkgX3WpJ-qbAmW7l9sO6">
            <img src="assets/tiaf-pics/tiaf-utilaje.jpg" class="card-img-top" alt="utilaje">
            <div class="card-body">
            <p class="card-text">Utilaje</p>
            </div>
        </a>
    </div>
    </div>
    <div class="col">
    <div class="card">
        <a href="https://drive.google.com/drive/folders/17Uww-3o3hFoc_w--_zF5C1_Q8UeERxB1">
            <img src="assets/tiaf-pics/tiaf-visible-vin.jpg" class="card-img-top" alt="visible-vin">
            <div class="card-body">
            <p class="card-text">Visible VIN</p>
            </div>
        </a>
    </div>
    </div>
    <div class="col">
    <div class="card">
        <a href="https://drive.google.com/drive/folders/1BbKO8xg9ZCJJkR4uAOuZTaQcUxtQjpty">
            <img src="assets/tiaf-pics/tiaf-alerte-vin.jpg" class="card-img-top" alt="alerte-vin">
            <div class="card-body">
            <p class="card-text">Alerte VIN</p>
            </div>
        </a>
    </div>
    </div>
    <div class="col">
    <div class="card">
        <a href="https://rawcdn.githack.com/stefffy79/euvid/eb20f0e57c1e6549e50e11082b362b7e18cc6d82/euvidcar.html">
            <img src="assets/tiaf-pics/tiaf-euvid.jpg" class="card-img-top" alt="euvid">
            <div class="card-body">
            <p class="card-text">EUVID/CARI</p>
            </div>
        </a>
    </div>
    </div>
</div>