<!-- <div class="country-content">
    <a *ngFor="let navigationCountry of navigationCountries" 
        class="nav-link" href="{{navigationCountry.url}}">
        <h3>
            <span class="fi fi-{{navigationCountry.countryCode}}"></span>
            {{navigationCountry.country}}
        </h3>
    </a>
</div> -->

<div class="container country-content">
    <ul class="list-unstyled row">
        <li *ngFor="let navigationCountry of navigationCountries" class="list-item border-top py-2">
            <a class="nav-link" href="{{navigationCountry.url}}">
                <h3>
                    <span class="fi fi-{{navigationCountry.countryCode}}"></span>
                    {{navigationCountry.country}}
                </h3>
            </a>
            <!-- <h4 *ngIf="navigationCountry.countryCode=='ua'">
                <span>https://dmsu.gov.ua/services/docstate.html</span>
            </h4> -->
        </li>
    </ul>
    <pre *ngIf="contentFileName=='assets/content/documente-de-calatorie.json'">{{testData}}</pre>
</div>