<div class="card text-center col-sm-6 col-lg-6 col-12 mx-auto">
    <div class="card-body">
        <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
        <p class="text-dark-50 mb-4">Enter your new password</p>

        <div class="form-outline form-dark">
            <input type="password" 
            [ngClass]="{'form-control form-control-lg' : true, 
                'is-invalid': authService.errorList && authService.errorList.Password}" 
            placeholder="New Password" id="password" type="password" [formControl]="password"/>
            <div *ngIf="authService.errorList && authService.errorList.Password" class="invalid-feedback">
                {{authService.errorList.Password}}
            </div>
        </div>
        <button class="btn btn-outline-dark btn-lg px-5" type="button" (click)="resetPassword()">ResetPassword</button> 
    </div>
</div>